.footer {
	display: grid;
	place-items: center;
	bottom: 0;
	width: 500px;
	height: 120px;
	margin-top: -120px;
	margin-inline: auto;
	position: relative;
	z-index: 10;

	.infos {
		display: flex;
		align-items: center;
		gap: 1rem;
		background-color: var(--white-c1);
		padding: 0.75rem 1.5rem;
		border-radius: 3px;

		p {
			font-size: 1rem;
			font-weight: 700;
			line-height: 1.5rem;
		}
	}
}
