.details {
	display: flex;
	justify-content: space-between;
	color: var(--white-c1);

	.imdb,
	.extras {
		display: flex;
		align-items: center;
		gap: 0.75rem;
	}

	.extras .pg {
		font-size: 1.125rem;
		line-height: 1.125rem;
		letter-spacing: var(--letter-spacing-1);
		background: black;
		padding: 0.25rem 0.125rem;
		border: 2px solid var(--white-c1);
		border-radius: 5px;
	}
}
