* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--type-first: 'Nunito', sans-serif;
	--type-second: 'Roboto', sans-serif;
	--white-c1: #fff;
	--white-c2: #bbb;
	--pink-c1: #fb2576;
	--pink-g1: linear-gradient(180deg, transparent 0%, #d1004f 100%);
	--black-c1: #080808;
	--black-c2: #181818;
	--gray-c1: #717171;
	--gray-c2: #292929;
	--gray-g1: linear-gradient(180deg, transparent 0%, #585858 100%);
	--letter-spacing-1: 0.045rem;
	--blur: blur(5px);
	font-family: var(--type-first);
}

ul {
	list-style: none;
}

input {
	width: 100%;
}

button,
input {
	display: block;
}

a {
	text-decoration: none;
	display: block;
}

img {
	display: block;
	max-width: 100%;
}

.container {
	width: 100%;
	margin: 0 2.5rem;
}

.AppContent {
	position: relative;
	height: calc(100vh + 120px + 10rem);
}
