* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--type-first: 'Nunito', sans-serif;
	--type-second: 'Roboto', sans-serif;
	--white-c1: #fff;
	--white-c2: #bbb;
	--pink-c1: #fb2576;
	--pink-g1: linear-gradient(180deg, transparent 0%, #d1004f 100%);
	--black-c1: #080808;
	--black-c2: #181818;
	--gray-c1: #717171;
	--gray-c2: #292929;
	--gray-g1: linear-gradient(180deg, transparent 0%, #585858 100%);
	--letter-spacing-1: 0.045rem;
	--blur: blur(5px);
	font-family: var(--type-first);
}

ul {
	list-style: none;
}

input {
	width: 100%;
}

button,
input {
	display: block;
}

a {
	text-decoration: none;
	display: block;
}

img {
	display: block;
	max-width: 100%;
}

.container {
	width: 100%;
	margin: 0 2.5rem;
}

.App {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		inset: 0;
		z-index: -49;
		background-image: url('assets/bg-login.jpg');
		background-size: cover;
		background-position: center;
		opacity: 0.05;
	}

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		z-index: -50;
		background: linear-gradient(292.94deg, #060017 0%, #140739 100%);
	}
}

.AppContent {
	position: relative;
}

.toTop {
	transform: translateY(0.5rem);
	animation: toTop 0.2s forwards;
}

.formTitle {
	color: var(--white-c1);
	font-size: 2rem;
	text-align: center;
	font-weight: 600;
	margin-bottom: 1.25rem;
}

.formFields {
	display: grid;
	grid-template-columns: 1;
	gap: 1rem;
}

.formBottomText {
	margin-inline: auto;
	text-align: center;
	margin-top: 2.5rem;

	a,
	p {
		color: var(--white-c2);
		font-size: 0.875rem;
		line-height: 1.125rem;
	}
	a {
		display: inline;
		text-decoration: underline;

		&:hover {
			color: var(--white-c1);
		}
	}
}

.formForgotPass {
	color: var(--white-c2);
	text-decoration: underline;
	text-align: end;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1.125rem;
	margin-top: 0.25rem;

	&:hover {
		color: var(--white-c1);
	}
}

.formBtn {
	margin-top: 2.5rem;
	margin-inline: auto;
}

@keyframes toTop {
	0% {
		transform: initial;
	}
}
