.root {
	display: grid;
	gap: 0.25rem;

	.inputRoot {
		display: grid;
		grid-template-columns: auto 1fr;
		padding: 0.5rem 0.75rem;
		background-color: var(--black-c2);
		border: 1px solid var(--gray-c1);
		border-radius: 3px;
		transition: 0.2s;

		&:focus,
		&:hover,
		&:has(input:focus) {
			filter: drop-shadow();
			border-color: var(--pink-c1);
			box-shadow: 0 0 3px var(--pink-c1);

			& .inputIcon svg {
				color: var(--white-c1);
			}
		}

		input {
			background: transparent;
			border: none;
			outline: none;
			color: var(--white-c1);
			font-size: 1rem;
		}

		.inputIcon {
			width: 1.5rem;
			height: 1.5rem;
			margin-right: 0.75rem;

			svg {
				width: 100%;
				height: 100%;
				color: var(--gray-c1);
			}
		}
	}

	label {
		color: var(--white-c1);
		font-size: 1.125rem;
		line-height: 1.375rem;
		letter-spacing: var(--letter-spacing-1);
		font-weight: 700;
	}

	.error {
		margin-top: -0.625rem;
	}
}
