.cardImg {
	width: 100%;
	max-height: 11.75rem;
	min-height: 11.75rem;
	position: relative;
	user-select: none;

	.rTag {
		display: grid;
		place-content: center;
		position: absolute;
		background: var(--black-c1);
		padding: 0.25rem;
		border-bottom-right-radius: 3px;

		svg {
			width: 1.25rem;
			height: 1.25rem;
		}
	}

	.extras {
		position: absolute;
		background: linear-gradient(
			transparent 40%,
			rgba(255, 255, 255, 0.815) 55%,
			white 62%
		);
		top: 0;
		left: 0;
		height: 160%;
		width: 100%;
		display: none;
		align-items: flex-end;
		border-radius: 3px;
		padding: 0 1rem 1rem 1rem;

		.extraDescription {
			display: grid;
			grid-template-columns: 90% auto;
			grid-template-rows: min-content;
			grid-template-areas:
				'title .'
				'desc desc '
				'extra extra';
			gap: 0.625rem;
			position: relative;
			color: var(--black-c1);

			.title {
				font-size: 1.125rem;
				max-width: 70%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				grid-area: title;
			}

			.options {
				position: absolute;
				top: -0.125rem;
				right: 0.5rem;
				display: flex;
				gap: 1.5rem;
				font-size: 1.25rem;
				color: var(--white-c1);

				svg {
					background-color: var(--black-c1);
					box-shadow: 0 0 0 8px var(--black-c1);
					border-radius: 50%;
					position: relative;

					&:hover {
						cursor: pointer;
					}

					&:active {
						scale: 0.97;
					}
				}
			}

			.synopsis {
				font-size: 0.75rem;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
				grid-area: desc;
			}

			.extraExtra {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				font-size: 0.75rem;
				font-weight: 700;
				grid-area: extra;

				svg {
					width: 0.5rem;
					height: 0.5rem;

					& circle:first-child {
						fill: var(--black-c1);
					}

					& circle:last-child {
						stroke: var(--black-c1);
					}
				}
			}
		}
	}
}

li:has(:hover) > .cardImg,
div:has(:hover) > .cardImg {
	filter: drop-shadow(0px 0px 5px var(--pink-c1));

	.extras {
		display: flex;
		outline: 2px solid black;
	}
}

@keyframes showFav {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
